# Database Configuration
DATABASE_URL="mysql://root:password@127.0.0.1:3306/go_tweets"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=go_tweets

# App Configuration
PORT=8080
APP_ENV=development

# JWT Secret
SECRET_JWT=your_super_secret_jwt_key_here
